<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0WAHQsk8Zat8A-_HdO8Upu_du-1BeLDs</string>
	<key>GCM_SENDER_ID</key>
	<string>1049709653704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Music-App-Project.MusicMoodApp</string>
	<key>PROJECT_ID</key>
	<string>moodmusicapp-cc5dd</string>
	<key>STORAGE_BUCKET</key>
	<string>moodmusicapp-cc5dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049709653704:ios:186ffb2c75a1e42cf2bffd</string>
</dict>
</plist>